<template>
  <div :name="name">
    <div><b>{{ label }}</b></div>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Model, Vue } from 'vue-property-decorator';
import MyRadioButton from './MyRadioButton.vue';

@Component
export default class MyRadioGroup extends Vue {
  currentValue: string|number = ''

  @Prop() name?: string;
  @Prop() label?: string;
  @Prop() value?: string|number;

  public updateView(): void {
    if (this.$children) {
      this.$children.forEach(child => {
        if (child instanceof MyRadioButton) {
          child.currentValue = this.currentValue === child.label;
        }
      });
    }
  }
  public change(value: string|number): void {
    this.currentValue = value
    this.updateView()
  }
  mounted(): void {
    if (this.value) this.currentValue = this.value
    this.updateView()
  }
}

</script>