<template>
  <span>
    <input
      type="radio"
      :name="name"
      :value="label"
      :checked="currentValue"
      @change="onInputChange"
    />
    <slot>{{ label }}</slot>
  </span>
</template>

<script lang="ts">
import { Component, Prop, Emit, Vue } from 'vue-property-decorator';
import MyRadioGroup from './MyRadioGroup.vue';

@Component
export default class MyRadioButton extends Vue {
  currentValue = false
  groupName = 'MyRadioButton'

  @Prop() label?: string|null;
  @Prop() name?: string;

  @Emit()
  onInputChange(e: any): any {
    if (this.$parent instanceof MyRadioGroup) {
      this.$parent.change(e.target.value)
    }
    return e.target.value
  }
  mounted(): void {
    if (this.$parent instanceof MyRadioGroup) {
      if (this.$parent.name) this.groupName = this.$parent.name
    } else {
      if (this.name) this.groupName = this.name
    }
  }
}
</script>