<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <MyRadioGroup value="Radio B" label="Name" name="radio-1">
      <MyRadioButton label="Radio A" name="radio"/>
      <MyRadioButton label="Radio B" name="radio">
      </MyRadioButton>
    </MyRadioGroup>
    <br>
    <MyRadioGroup value="Radio A" label="Name" name="radio-2">
      <MyRadioButton label="Radio A"/>
      <MyRadioButton label="Radio B"/>
      <MyRadioButton label="Radio C"/>
    </MyRadioGroup>
    <br>
    <MyRadioGroup value="Radio B" name="radio-3" label="Subcomponents">
      <MyRadioButton label="Radio B">
        <slot name="content">
          <input type="date"/>
          <br>
          <br>
          <div>
            <input type="text"/>
          </div>
          <br>
          <div>
            <input type="number"/>
          </div>
          <br>
        </slot>
      </MyRadioButton>
      <MyRadioButton label="Representative Form"/>
    </MyRadioGroup>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MyRadioButton from './components/MyRadioButton.vue';
import MyRadioGroup from './components/MyRadioGroup.vue';

@Component({
  components: {
    MyRadioGroup,
    MyRadioButton
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
